<footer class="footer">
    <div class="container footer__wrapper">
        <h2 class="footer-title">bhromaon</h2>
        <p class="footer-text">Safe Travel Anywhere</p>
        <ul class="footer__list">
            <li class="footer__icon-inner">
                <svg class="footer__icon">
                    <use xlink:href="#facebook" />
                </svg>
            </li>
            <li class="footer__icon-inner">
                <svg class="footer__icon">
                    <use xlink:href="#twitter" />
                </svg>
            </li>
            <li class="footer__icon-inner">
                <svg class="footer__icon">
                    <use xlink:href="#in" />
                </svg>
            </li>
            <li class="footer__icon-inner">
                <svg class="footer__icon">
                    <use xlink:href="#youtube" />
                </svg>
            </li>
            <li class="footer__icon-inner">
                <svg class="footer__icon">
                    <use xlink:href="#pint" />
                </svg>
            </li>
        </ul>
    </div>
</footer>