<header class="header">
  <div class="container">
    <h1 class="header__title">bhromaon</h1>
    <p class="header__subtitle">Safe Travel Anywhere</p>
    <form class="form" action="POST">
      <input
        class="form__search"
        type="search"
        placeholder="Search Your Travel Destination"
        minlength="3"
        required
      />
      <button class="form__button">
        Search
        <object
          class="form__svg"
          data="images/svg/search.svg"
          type="image/svg+xml"
        ></object>
      </button>
    </form>
    <div class="header__wrapper">
      <p class="header__text">Scroll Down</p>
      <span>
        <a href="#choose" class="header__svg-wrapper">
          <svg class="scroll-down">
            <use xlink:href="#arrow-down" />
          </svg>
        </a>
      </span>
    </div>
  </div>
  <div class="header__background">
    <nav class="nav__fixed">
      <h2 class="header__footer-text">bhromaon</h2>
      <label class="burger header__burger">
        <input class="burger__input" type="checkbox" />
        <span class="burger__box">
          <span class="burger__item"></span>
          <span class="burger__item"></span>
          <span class="burger__item"></span>
        </span>
        <span class="nav__list burger__menu">
          <span class="nav__list-item">
            <a class="nav__list-link" href="#choose">Who we are</a>
          </span>
          <span class="nav__list-item">
            <a class="nav__list-link" href="#what">What we do</a>
          </span>
          <span class="nav__list-item">
            <a class="nav__list-link" href="#travel">travel with us</a>
          </span>
          <span class="nav__list-item">
            <a class="nav__list-link" href="#tourist">contact us</a>
          </span>
        </span>
      </label>
    </nav>
  </div>
</header>
