<header class="header">
    <div class="container">
        <h1 class="header__title">bhromaon</h1>
        <p class="header__subtitle">Safe Travel Anywhere</p>
        <form class="form" action="POST">
            <input class="form__search" type="search" placeholder="Search Your Travel Destination" minlength="3"
                required>
            <button class="form__button">Search
                <object class="form__svg" data="images/svg/search.svg" type="image/svg+xml"></object>
            </button>
        </form>
        <p class="header__text">Scroll Down</p>
        <span>
            <a href="#choose" class="header__svg-wrapper">
                <svg class="header__svg">
                    <use xlink:href="#arrow-down" />
                </svg>
            </a>
        </span>
    </div>
    <div class="header__background">
        <div class="header__footer container">
            <h2 class="header__footer-text">BHROMAON</h2>
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__list-item"><a class="navigation__link" href="#choose">Who we are</a></li>
                    <li class="navigation__list-item"><a class="navigation__link" href="#what">What we do</a></li>
                    <li class="navigation__list-item"><a class="navigation__link" href="#travel">Travel with us</a></li>
                    <li class="navigation__list-item"><a class="navigation__link" href="#tourist">contact us</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>