<section id="travel" class="section-what section-what--travel">
    <div class="container">
        <div class="card card--right">
            <h2 class="card__title">Spain</h2>
            <h2 class="card__title">Grand Spain mardid</h2>
            <p class="card__text">But I must explain to you how all this mistaken idea of account to denouncing pleasure
                and praising pain was account born and I account will give you a complete account of the system</p>
            <a class="button" href="#">book now</a>
        </div>

    </div>
</section>