<div class="section-link">
    <div class="container">
        <ul class="section-link__list">
            <li class="section-link__list-item">
                <svg class="section-link__list-picture section-link__list-picture--search">
                    <use xlink:href="#search-large" />
                </svg>
                <h3 class="section-link__list-title">Search Places</h3>
            </li>
            <li class="section-link__list-line"></li>
            <li class="section-link__list-item section-link__list-item--center">
                <svg class="section-link__list-picture section-link__list-picture--success">
                    <use xlink:href="#success" />
                </svg>
                <h3 class="section-link__list-title">Select Places</h3>
            </li>
            <li class="section-link__list-line"></li>
            <li class="section-link__list-item">
                <svg class="section-link__list-picture section-link__list-picture--ok">
                    <use xlink:href="#ok" />
                </svg>
                <h3 class="section-link__list-title">Book & Enjoy</h3>
            </li>
        </ul>
    </div>
</div>