// Colors
$white: #FFFFFF;
$light: #FEFEFE;
$grey-light: #E8E8E8;
$grey: #CCCCCC;
$dark: #333333;
$darker: #232323;
$blue: #5474FD;

// Fonts
$base-font: 'Aleo', serif;
$secondary-font: 'Josefin Sans', sans-serif;

//Screen
$screen-iphone: 375px;
$screen-iphone-plus: 414px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;