.section-travel{
    background-image: url("../images/section-3.png");
    background-size: cover;
    background-position: 70% 80%;
    position: relative;
    height: 100vh;
    padding-top: 22%;
    height: max-content;
    padding-bottom: 100px;
    @media screen and (min-width: $screen-tablet){
        height:700px;
        padding: 0;
        padding-top: 12%;
    }
}