.form{
    background-color: $white;
    padding: 1px;
    @include flex(center, stretch, column);
    margin-bottom: 120px;
    @media screen  and (min-width: $screen-tablet){
        flex-direction: row;
        align-items: center;
    }
    &__search{
        border: none;
        outline: none;
        padding: 20px 0;
        padding-left: 10px;
        width: 100%;
        border-left: 5px solid transparent;
        @media screen and (min-width: $screen-tablet){
            width: 500px;
        }
        &::placeholder{
            margin: 0 auto;
            @include text(14px, 400, $grey);
            font-family: $secondary-font;
            letter-spacing: 2px;
            @media screen and (min-width: $screen-tablet) {
                padding-left: 125px;
            }
        }
        &:hover{
            border-color: $blue;
        }
        &:invalid:not(:placeholder-shown){
            border-color: red;
        }
        &:valid{
            border-color: green;
        }
    }
    &__button{
        cursor: pointer;
        border: none;
        outline: none;
        padding: 15px 15px 15px 19px;
        background-color: $blue;
        @include text(14px, 700, $white);
        font-family: $base-font;
        text-transform: uppercase;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        @media screen and (min-width: $screen-tablet){
        &:hover{
            transform: scale(1.1);
        }
        }
    }
    &__svg{
        position: relative;
        top: 5px;
        margin-left: 10px;
        @include svg(20px, $white);
    }
    &:valid &__button{
        transition: all 0.5s ease;
        position: relative;
        opacity: 1;
        visibility: visible;
    }
}