
.nav{
    &__fixed{
        position: fixed;
        @include flex(space-between, stretch, row);
        @media screen and (min-width: $screen-tablet){
            padding: 35px 0;
            max-width: 1100px;
            margin: 0 auto;
            position: static;
        }
        padding: 40px 10px;
        width: 100%;
        height: 100px;
        z-index: 11;
    }
    &__list{
        position: fixed;
        @include flex(flex-start, center, column);
        top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 10;
        @media screen and (min-width: $screen-tablet){
            flex-direction: row;
            position: static;
            padding: 0;       
        }
        &-item{
            @include text(16px, 700, $white);
            @media screen and (min-width: $screen-fullhd) {
                font-size: 18px;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;
            margin-bottom: 10px;
            padding-bottom: 32px;
            text-transform: uppercase;
                @media screen and (min-width: $screen-tablet){
                    left: 0;
                    padding: 0;
                    margin-bottom: 0;
                    margin-right: 32px;
                    padding-bottom: 12px;
                    &:hover{
                        border-color: $white;
                        transition: all 0.2s ease;
                    }
                }
        } 
        &-link{
            padding: 26px;
            @media screen and (min-width: $screen-tablet) {
            padding: 0;
            }
            text-decoration: none;
            color: $white;
        }
    }
}